
.settingsbar {
    font-size: 1em;
    font-weight: 500;
    margin: 0.6em 0 0.8em 0;
    padding: 0 4em 0 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .settingsbar__settings-section {
    display: flex;
    flex-grow: 1;
    align-items: center;;
    justify-content: flex-end;
  }
  
  .settingsbar__search-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .settingsbar li {
    list-style: none;
    display: inline-flex;
  }
  
  .settingsbar li:hover {
    color: gray;
    cursor: pointer;
  }
  
  
  .settingsbar__settings-section li {
    padding-right: 1em;
    color: black;
  }

  .settingsbar__search-section li {
    padding-left: 1em;
    color: black;
  }
  
  
  @media screen and (max-width:850px) {
    .settingsbar {
        display: none;
      }

  }