
.settings-bar {
  font-size: 1em;
  font-weight: 500;
  margin: 0.6em 0 0.8em 0;
  padding: 0 4em 0 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings {
  display: flex;
  flex-grow: 1;
  align-items: center;;
  justify-content: flex-end;
}

.searchview {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.settings-bar li {
  list-style: none;
  display: inline-flex;
}

.settings-bar li:hover {
  color: gray;
  cursor: pointer;
}


.settings li {
  padding-right: 1em;
  color: black;
}

.searchview li {
  padding-left: 1em;
  color: black;
}

i {
  display: flex;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  background: none;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.iconon {
  border-bottom: 0.25em solid black;
  
}

.on {
  border-bottom: 0.25em solid black;
}

.off {
  text-decoration: none;
}

.photoview {
  display: flex;
  flex-wrap: wrap;
  padding: 0em 4em 0em 4em;
}


.overlay {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.photocontainer-grid:hover .overlay {
  opacity: 1;

}

.photocontainer-big:hover .overlay {
  opacity: 1;
}


.sticky-header {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
}

.photo-grid {
  width: 100%;
  height: 25em;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
} 


.photocontainer-grid {
  width: 33.3%;
  height: 100%;
  position: relative;
  justify-content: center;
  border-color: white;
  border-width: 0.1em;
  border-style: solid;
}

.photocontainer-big {
  width: 50.0%;
  position: relative;
  height: 100%;
  justify-content: center;
  border-color: white;
  border-width: 0.1em;
  border-style: solid;
}

.mobile-search-active {
  display: none;
}

.mobile-search {
  display: none;
}


.photo-big {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: contain;
  cursor: pointer;
} 


.mobile-settings {
  display: none;
}

.mobile-settings-active {
  display: none;
}



.material-icons.md-18 { font-size: 0.8em; }
.material-icons.md-24 { font-size: 1.2em; }
.material-icons.md-36 { font-size: 1.6em; }
.material-icons.md-48 { font-size: 2.0em; }

@media screen and (max-width:1000px) {
  .photocontainer-grid {
    width: 33.3%;
    height: 20em;
    justify-content: center;
  }
  .photo-grid {
    width: 100%;
    height: 20em;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;

  } 

  .photocontainer-big {
    width: 50.0%;
    height: 100%;
    justify-content: center;
  }
  .photo-big {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;
    cursor: pointer;
  } 

  .mobile-search-active {
    display: none;
  }
  
  .mobile-search {
    display: none;
  }

  
}

@media screen and (max-width:850px) {
  * {
    background-color: #F1F1F1;
  }

   .mobile-search {
    display: none
  }

  .mobile-settings {
    display: none
  }
  
  .mobile-search-active {
    width: 100%;
    display: flex;
    background-color: white;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
  }

  .mobile-settings-active {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;

  }

  .mobile-settings-active ul {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .mobile-settings-active li {
    padding-right: 1em;
    padding-left: 1em;
    cursor: pointer;
  }

  .mobile-settings-active li:hover {
    color: gray;
  }
  
  .mobile-search-bar {
    padding: 1.5em 3.5em 1.5em 3.5em;
    background-color: white;
  
  }
  
  .mobile-fetching-settings {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 0 0 1em 0;
  }
  
  .mobile-fetching-settings li {
    list-style: none;
    cursor: pointer;
    background-color: white;
  
  }
  
  .mobile-fetching-settings li:hover {
    color: gray;
  }
  
  .mobile-search-hashtagbar {
    background-color: #F1F1F1;
    height: 100%;
    flex-wrap: wrap;
    padding: 0.2em 0.2em 0.2em 0em;
  }
  
  .mobile-search-hashtagbar div {
    display: flex;
    justify-content: flex-start;
  }

   .settings-bar {
     display: none;
   }

   .photocontainer-grid {
    width: 50%;
    height: 20em;
    justify-content: center;
    background-color: #fefefe;

  }
  .photo-grid {
    width: 100%;
    height: 20em;
    overflow: hidden;
    object-fit: cover;
    background-color: #fefefe;

  } 

  .photocontainer-big {
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: #fefefe;

  }
  .photo-big {
    width: 100%;
  height: auto;
  overflow: hidden;
  align-items: center;
  object-fit: contain;
  cursor: pointer;

  } 

  .photoview {
    background-color: #fefefe;
  }



  .mobile-search {
    height: 100vh;

  }


}

@media screen and (max-width:550px) {
  .photoview {
    padding-left: 0em;
    padding-right: 0em;
  }

  .photocontainer-grid {
    width: 50%;
    height: 20em;
    justify-content: center;
    
  }
  .photo-grid {
    width: 100%;
    height: 20em;
    overflow: hidden;
    object-fit: cover;
  }

} 


@media screen and (max-width:450px) {
  .photoview {
    padding-left: 0em;
    padding-right: 0em;
  }

  .photocontainer-grid {
    width: 100%;
    height: 25em;
    justify-content: center;
    
  }
  .photo-grid {
    width: 100%;
    height: 25em;
    overflow: hidden;
    object-fit: cover;
  } 

  .search-mobile {
    display: flex;
    padding-left: 0;

  }

  .menu-mobile {
    display: none;
  }

}

@media screen and (min-width:1960px) {
  body {
    margin-right: 30em;
    margin-left: 30em;
  }

  .photocontainer-grid {
    width: 20%;
    height: 20em;
    justify-content: center;
  }
  .photo-grid {
    width: 100%;
    height: 20em;
    overflow: hidden;
    object-fit: cover;
  } 

}



.loading {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 2.5em;
  height: 2.5em;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  margin: 0.25em;
  border: 0.25em solid  #3D6CA4;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #3D6CA4  transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}












