.navbar {
  display: flex;
  min-height: 1em;
  margin: 0.6em 0 0em 0;
  padding: 0 4em 0 4em;
  align-items: center;
  justify-content: space-between;
  transition: top 0.0s;
}

.avatar {
  vertical-align: middle;
  cursor: pointer;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border-color: black;
  border-width: 0.1em;
  border-style: solid;
}

.logo {
  width: 4em
} 

.settings-bar {
  font-size: 1em;
  font-weight: 500;
  margin: 0.6em 0 0.8em 0;
  padding: 0 4em 0 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings {
  display: flex;
  flex-grow: 1;
  align-items: center;;
  justify-content: flex-end;
}

.searchview {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.settings-bar li {
  list-style: none;
  display: inline-flex;
}

.settings-bar li:hover {
  color: gray;
  cursor: pointer;
}


.settings li {
  padding-right: 1em;
  color: black;
}

.searchview li {
  padding-left: 1em;
  color: black;
}

i {
  display: flex;
}

.iconon {
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.2em;
}

.on {
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.3em;
}

.off {
  text-decoration: none;
}

.hashtag-bar {
  background-color: #F1F1F1;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0.2em 3em 0.6em 3em;

}

.hashtag {
  margin-right: 1.2em;
  margin-top: 0.6em; 
  background-color: #C4C4C4;
  display: inline-flex;
  align-items: center;
  font-size: 0.7em;
  color: #3D6CA4;
  border-radius: 30px;

}

.hashtag * {
  background: none;
  padding: 0.3em 0.3em 0.3em 0.5em;
}

.hashtag-x {
  cursor: pointer;
}

.hashtag-x:hover {
  cursor: pointer;
  color: gray;
}

.photoview {
  display: flex;
  flex-wrap: wrap;
  padding: 0em 4em 0em 4em;
}



.sticky-header {
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  width: 100%;
}

.photo-grid {
  width: 100%;
  height: 25em;
  overflow: hidden;
  object-fit: cover;
  cursor: pointer;
} 


.photocontainer-grid {
  width: 33.3%;
  height: 100%;
  justify-content: center;
  border-color: white;
  border-width: 0.1em;
  border-style: solid;
}

.photocontainer-big {
  width: 50.0%;
  height: 100%;
  justify-content: center;
  border-color: white;
  border-width: 0.1em;
  border-style: solid;
}

.mobile-search-active {
  display: none;
}

.mobile-search {
  display: none;
}


.photo-big {
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: contain;
  cursor: pointer;
} 

.search-mobile {
  display: none;
  cursor: pointer;
}

.menu-mobile {
  display: none;
  cursor: pointer;
}

.searchbar {
  display: flex;
  outline: none;
  padding: 0em;
}

.searchbar input {
  border-radius: 0.3em 0 0 0.3em;
  width: 100%;
  outline: none;
  border-color: grey;
  border-style: solid;
  border-width: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 0.8em;
}

.searchbar input:hover {
  border-color: black;
}


.searchbar button {
  width: 2em;
  height: 2em;
  border-radius: 0 0.3em 0.3em 0;
  background-color: black;
  text-align: center;
  border: none;
  cursor: pointer;
}

.searchbar button i {
  background-color: inherit;
  color: white;
  size: 2em;
}

.searchbar button:hover {
  background-color:  #0e1e11;
}

.material-icons.md-18 { font-size: 0.8em; }
.material-icons.md-24 { font-size: 1.2em; }
.material-icons.md-36 { font-size: 1.6em; }
.material-icons.md-48 { font-size: 2.0em; }

@media screen and (max-width:1000px) {
  .photocontainer-grid {
    width: 33.3%;
    height: 20em;
    justify-content: center;
  }
  .photo-grid {
    width: 100%;
    height: 20em;
    overflow: hidden;
    object-fit: cover;
  } 

  .photocontainer-big {
    width: 50.0%;
    height: 20em;
    justify-content: center;
  }
  .photo-big {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: contain;
    cursor: pointer;
  } 

  .mobile-search-active {
    display: none;
  }
  
  .mobile-search {
    display: none;
  }

  .mobile-settings {
    display: none;
  }

  .mobile-settings-active {
    display: none;
  }
}

@media screen and (max-width:850px) {
  * {
    background-color: #F1F1F1;
  }
   .hashtag-bar {
     display: none;
   }

   .mobile-search {
    display: none
  }

  .mobile-settings {
    display: none
  }
  
  .mobile-search-active {
    width: 100%;
    display: flex;
    background-color: white;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
  }

  .mobile-settings-active {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;

  }

  .mobile-settings-active ul {
    width: 100%;
    display: flex;
    list-style: none;
    padding: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .mobile-settings-active li {
    padding-right: 1em;
    padding-left: 1em;
    cursor: pointer;
  }

  .mobile-settings-active li:hover {
    color: gray;
  }
  
  .mobile-search-bar {
    padding: 1.5em 3.5em 1.5em 3.5em;
    background-color: white;
  
  }
  
  .mobile-fetching-settings {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 0 0 1em 0;
  }
  
  .mobile-fetching-settings li {
    list-style: none;
    cursor: pointer;
    background-color: white;
  
  }
  
  .mobile-fetching-settings li:hover {
    color: gray;
  }
  
  .mobile-search-hashtagbar {
    background-color: #F1F1F1;
    height: 100%;
    flex-wrap: wrap;
    padding: 0.2em 0.2em 0.2em 0em;
  }
  
  .mobile-search-hashtagbar div {
    display: flex;
    justify-content: flex-start;
  }

   .settings-bar {
     display: none;
   }

   .photocontainer-grid {
    width: 50%;
    height: 20em;
    justify-content: center;
    background-color: #fefefe;

  }
  .photo-grid {
    width: 100%;
    height: 20em;
    overflow: hidden;
    object-fit: cover;
    background-color: #fefefe;

  } 

  .photocontainer-big {
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: #fefefe;

  }
  .photo-big {
    width: 100%;
  height: auto;
  overflow: hidden;
  align-items: center;
  object-fit: contain;
  cursor: pointer;

  } 

  .avatar {
    display: none;
  }

  .search-mobile {
    display: flex;
    padding-left: 4em;
  }

  .menu-mobile {
    display: flex;
    padding-right: 4em;
    background-color: #F1F1F1;
  }

  .logodiv {
    display: flex;
    padding-right: 0em;
  }

  .photoview {
    background-color: #fefefe;
  }

  .navbar {
    background-color: #F1F1F1;
    min-height: 2em;
    margin: 0.6em 0 0.6em 0;
    padding: 0 1.6em 0 1.6em;
  }

  .mobile-search {
    height: 100vh;

  }


}

@media screen and (max-width:550px) {
  .photoview {
    padding-left: 0em;
    padding-right: 0em;
  }

  .photocontainer-grid {
    width: 50%;
    height: 20em;
    justify-content: center;
    
  }
  .photo-grid {
    width: 100%;
    height: 20em;
    overflow: hidden;
    object-fit: cover;
  }


  .search-mobile {
    display: flex;
    padding-left: 0;

  }

  .logodiv {
    display: flex;
    padding-right: 0em;
  }

  .logo {
    display: flex;
    padding-right: 0;
  }

  .menu-mobile {
    display: flex;
    padding-right: 0;
  }
} 


@media screen and (max-width:450px) {
  .photoview {
    padding-left: 0em;
    padding-right: 0em;
  }

  .photocontainer-grid {
    width: 100%;
    height: 25em;
    justify-content: center;
    
  }
  .photo-grid {
    width: 100%;
    height: 25em;
    overflow: hidden;
    object-fit: cover;
  } 

  .search-mobile {
    display: flex;
    padding-left: 0;

  }

  .logo {
    display: flex;
    padding-right: 0;
  }

  .menu-mobile {
    display: none;
  }

}

@media screen and (min-width:1960px) {
  body {
    margin-right: 30em;
    margin-left: 30em;
  }

  .photocontainer-grid {
    width: 20%;
    height: 20em;
    justify-content: center;
  }
  .photo-grid {
    width: 100%;
    height: 20em;
    overflow: hidden;
    object-fit: cover;
  } 

}












